spring:
  datasource:
    username: capstone
    password: 1234
  mail:
    username: jmin12663@gmail.com
    password: nenp inrn gmrx muxa

jwt:
  secret: 2026capstoneprojectgitmanager001

jasypt:
  encryptor:
    password: 2026capstoneprojectgitmanager001